@import "../../styles/variables.scss";

.article-container {
  @include widthContainer();
  max-width: $column-size;

  @include flexCenter();
  flex-direction: column;

  margin-top: 3.75rem;
  margin-bottom: 3.75rem;

  & > div + div {
    margin-top: 1.25rem;
  }
    

  .article-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .writer {
      width: 100%;

      display: flex;

      img {
        width: 2.75rem;
        height: 2.75rem;
        object-fit: cover;
        border-radius: 100%;
      }

      .writer-meta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        
        margin-left: 1rem;
        
        .writer-name {
          color: black;
        }
        .writer-semester {
          color: $text-grey;
        }
      }
    }

    .category {
      width: fit-content;
      color: $ajou-blue;
      white-space: nowrap;
    }
  }

  .meta {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-bar {
      width: 100%;
      @include containerBorderStyle();
      padding: 0.63rem 0;
      padding-left: 1.5rem;

      & > div {
        text-align: start;
        align-items: center;
        color: $text-dark;
      }
    }
    // .anonymous {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   padding: 0 0.5em;
    //   width: 5em;
    //   height: 2.5em;
    //   border: 1px solid $grey-border;
    //   border-radius: 12px;
    // }
  }

  .content {
    width: 100%;
    @include containerBorderStyle();
    padding: 1rem 1.5rem;

    .text-container {
      min-height: 25rem;
      text-align: left;

      margin-bottom: 1rem;
      color: $text-dark;

      & > div > p {
        margin: 0;
      }
    }

    .photo-container {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1.5rem;

      .photo {
        width: 9.38rem;
        height: 9.38rem;
        @include containerBorderStyle();
        
        & + .photo {
          margin-left: 1.25rem;
        }
      }
    }

    .status-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .item-container {
        display: flex;
        .item {
          display: flex;
          align-items: center;
          margin: 0 0.25em;
        }
        .icon-thumbs {
          color: $ajou-blue;
        }
        .icon-reply {
          color: $ajou-gold;
        }
        .icon-image {
          color: $ajou-silver;
        }
        .delete-article {
          align-self: center;
          margin-left: 1em;

          color: $ajou-silver;
          cursor: pointer;
        }
      }
      .date {
        color: $ajou-silver;
      }
    }
  }

  .reply-section {
    width: 100%;
    @include containerBorderStyle();
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 1.5rem;
    

    .top {
      width: 100%;
      align-items: flex-start;
      text-align: start;

      margin-bottom: 1.5rem;
    }
    .reply-container {
      width: 100%;

      & > div + div {
        margin-top: 0.63rem;
      }

      & > .reply + .reply:not(.re-reply) {
        &::before {
          content: "";
          display: flex;
          @include semester-box();
          margin: 1rem 0;
        }
        
      }
    }
  }
}
