@import '../../styles/variables.scss';

.lecture-result-item-container {
  width: 100%;
  
  @include containerBorderStyle();

  padding: 1rem 1.5rem;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: $background-first;
  }

  & + & {
    margin-top: 1.25rem;
  }

  .lecture-result-item-header {
    width: 100%;
    text-align: start;

    .lecture-result-item-title {
      background: {
        image: url(../../../public/images/Icon_RightArrow.svg);
        repeat: no-repeat;
        position-x: right;
        size: 1.5em;
      };
    }
  }

  & > .semester-box {
    @include semester-box();
    margin: 1rem 0;
  }

  .lecture-result-item-body {
    width: 100%;
    display: flex;
    text-align: start;
    padding: 0 1.5rem;

    .lecture-result-item-column {

      .lecture-result-item-thead {
        color: $ajou-silver;
        margin-bottom: 0.63rem;
      }

      .lecture-result-item-tbody {
        color: $text-dark;
      }
    }
  }
}