@import '../../styles/variables.scss';



.login-Container {
  @include widthContainer();
  max-width: 35.25rem;
  
  margin-top: 7.5rem;
  margin-bottom: 3.75rem;

  @include flexCenter();
  flex-direction: column;
  row-gap: 1.25rem;

  overflow: hidden;
}

.logo {
  height: 4.5rem;
  margin-bottom: 4.0rem;
}

.login-Box {
  width: 100%;
  @include flexCenter();
  flex-direction: column;

  @include containerBorderStyle();
  padding: 3rem 1.5rem;
}

.register-Box {
  width: 100%;
  @include flexCenter();

  color: $text-grey;

  @include containerBorderStyle();
  padding: 1.5rem 0;
  column-gap: 0.63rem;

  a {
    font-weight: 500;
    color: $ajou-blue;
    text-decoration: none;
  }
}