@import '../../styles/variables.scss';

.login-Container {
  @include widthContainer();
  max-width: 35.25rem;
  
  margin-top: 7.5rem;
  margin-bottom: 3.75rem;

  & > div + div {
    margin-top: 1.25rem;
  }

  .login-Box {
    width: 100%;
    @include flexCenter();
    flex-direction: column;
  
    @include containerBorderStyle();
    padding: 3rem 1.5rem;

    .logo {
      width: 100%;
      max-width: 22.5rem;
      margin-bottom: 4rem;
    }

    .input-Box {
      width: 100%;
      margin-bottom: 3rem;
    
      & > div + div {
        margin-top: 2.5rem;
      }
    }
  }

  .login-registerBox {
    width: 100%;
    @include flexCenter();
  
    color: $text-grey;
  
    @include containerBorderStyle();
    padding: 1.5rem 0;
    column-gap: 0.63rem;
  
    & > a {
      font-weight: 500;
      color: $ajou-blue;
      text-decoration: none;
    }
  }
}