@import '../../styles/variables.scss';

.auth-semester-box-in-modal-container {
  @include containerBorderStyle();
  margin: 0 3rem;

  .auth-semester-list-in-modal-header {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    text-align: start;

    padding: 0 1.5rem;

    .auth-semester-list-in-modal-header-item {
      color: $text-grey;
    }
  }

  .auth-semester-list-in-modal-content {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
    
    margin-bottom: 1rem;

    & > div:not(:last-child)::after {
      content: "";
      display: flex;
      @include semester-box();

      background-color: $background-first;
  
      margin: 0.63rem 1.5rem;
    }
  }
}