@import "../../styles/variables.scss";

.main-Container {
  @include widthContainer();
  max-width: $column-size;

  @include flexCenter();
  flex-direction: column;

  margin-top: 3.75em;
}

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 24px;
  margin-bottom: 1.25em;

  .title {
    height: 36px;
    color: $ajou-blue;

    display: flex;
    align-items: center;
  }

  .controll-box {
    width: 12.88em;
    height: 2.75em;

    .select-semester {
      appearance: none;
      -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
      -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

      width: 100%;
      height: 100%;

      @include containerBorderStyle();

      padding-left: 1.5em;
      padding-right: 1em;
      color: $text-grey;

      background-image: url("../../../public/images/Icon_DownArrow.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) center;

      cursor: pointer;
    }
  }
}

.grid-box {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));

  column-gap: 1.25em;
}

.grid-EmptyBox {
  width: 100%;
  height: 35.75rem;
  @include containerBorderStyle();
  @include flexCenter();
  flex-direction: column;

  & > .p2 {
    color: $text-grey;
    height: 1.75rem;
    margin-bottom: 0.63rem;
  }

  .grid-certify {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    & > .h6 {
      color: $ajou-blue;
      height: 1.63rem;
      display: flex;
      align-items: flex-end;
    }

    & > .Icon_RightArrow {
      width: 1.5rem;
      height: 1.5rem;
      background-color: $ajou-blue;
      -webkit-mask: url("../../../public/images/Icon_RightArrow(24).svg") no-repeat center;
      mask: url("../../../public/images/Icon_RightArrow(24).svg") no-repeat center;
    }
  }
}
