@import "../../styles/variables.scss";

.main-Container {
  width: calc(100% - 3em);
  max-width: $column-size;

  @include flexCenter();
  flex-direction: column;
}

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 24px;
  margin-bottom: 1.25em;

  .title {
    height: 36px;
    color: $ajou-blue;

    display: flex;
    align-items:center;
  }

  .controll-box {
    width: 12.88em;
    height: 2.75em;

    .select-semester {
      appearance: none;
      -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
      -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

      width: 100%;
      height: 100%;

      @include containerBorderStyle();
      
      padding-left: 1.50em;
      padding-right: 1.00em;
      color: $text-grey;

      background-image: url('../../../public/images/Icon_DownArrow.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) center;
      
      cursor: pointer;
    }
  }
}

.grid-box {
  width: 100%;
  column-gap: 1.25em;
  columns: 3;

  @include tablet {
    columns: 2;
  }

  @include mobile {
    columns: 1;
  }
}