@import "../../styles/variables.scss";

.input-Container {
  .input {
    width: 100%;
    height: 3.5rem;
  
    background-color: $background-first;
    @include containerBorderStyle();

    padding: 1rem 1.5rem;
  }

  div.p3 {
    width: 100%;
    text-align: left;
    color: $text-grey;

    padding: 0 0.63rem;
    margin-bottom: 0.63rem;
  }
}



.button {
  width: 10.94rem;
  height: 3rem;

  border: none;
  border-radius: 12px;

  color: white;
  background-color: $ajou-yellow;

  padding: 0.75rem 1.5rem;
  text-align: center;
  letter-spacing: -0.1px;
  

  cursor: pointer;

  &.white {
    @include containerBorderStyle();
    color: $text-grey;
    background-color: white;
  }
  &.grey {
    background-color: $ajou-silver;
  }

  &.small {
    width: 8.75rem;
    height: 2.75rem;
    padding: 0.63rem 1.5rem;
  }
  &.full {
    width: 100%;
  }
}

.controll-box {
  width: 12.88em;
  height: 2.75em;

  .select-semester {
    appearance: none;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

    width: 100%;
    height: 100%;

    @include containerBorderStyle();

    padding-left: 1.5em;
    padding-right: 1em;
    color: $text-grey;

    background-image: url("../../../public/images/Icon_DownArrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;

    cursor: pointer;

  }
}