@import '../../styles/variables.scss';

.auth-semester-list-container {
  width: 100%;
  
  & + & {
    margin-top: 3rem;
  }

  .auth-semester-title {
    text-align: start;
    color: $ajou-blue;
    margin-bottom: 1rem;
  }

  .auth-semester-header {
    width: 100%;
    height: 3em;
    display: flex;
    border-bottom: 1px solid $grey-border;

    .auth-semester-header-item {
      height: 3em;
      line-height: 3em;
      text-align: start;
      color: $text-grey;
      text-indent: 1em;
    }
  }

  .auth-semester-content {
    & > div:not(:last-child)::after {
      content: "";
      display: flex;
      @include semester-box();

      background-color: $background-first;
  
      margin: 0.63rem 1.5rem;
    }
  }
}