@import '../../styles/variables.scss';

.my-page-container {
  width: 72em;
  margin: 0 auto;

  .part-title {
    font-size: 1.75em;
    color: $ajou-blue;
    text-align: start;
    font-weight: 500;
    margin-bottom: .5em;
    position: relative;

    .part-title-button {
      position: absolute;
      right: 0;
      top: 0;
      width: 8em;
      height: 3em;
      border: 0;
      border-radius: 12px;
      background-color: $ajou_yellow;
      color: white;
      cursor: pointer;
    }
  }
}