@import "../../styles/variables.scss";

.post-container {
  width: 100%;
  padding: 3em 5em;
  text-align: start;

  .top {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-weight: bold;
      color: $ajou-blue;
      font-size: 2em;
    }

    .post-button {
      width: 10em;
      height: 3em;
      border: none;
      border-radius: 12px;
      background-color: $ajou-yellow;
      font-size: 1em;
      color: $background-first;
      cursor: pointer;
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .select-category {
      width: 15em;
      height: 3em;
      padding-left: 0.5em;
      border: 1px solid $grey-border;
      border-radius: 12px;
    }
    .title-bar {
      width: 100%;
      margin: 0 0.5em;
      input {
        width: 100%;
        height: 3em;
        padding-left: 1em;
        border: 1px solid $grey-border;
        border-radius: 12px;
      }
    }
    .anonymous {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.5em;
      width: 5em;
      height: 2.5em;
      border: 1px solid $grey-border;
      border-radius: 12px;
    }
  }

  .content {
    margin-top: 1.5em;
    width: 100%;
    min-height: 50em;
    border: 1px solid $grey-border;
    border-radius: 12px;
    padding: 1em;
  }

  .post-editor-box {
    margin-top: 1em;
  }

  .photo-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    gap: 1em;

    .photo-item {
      position: relative;
      width: 8em;
      height: 8em;
      box-shadow: 0 0 4px $grey-border;
      cursor: pointer;

      .photo-item-image {
        width: 8em;
        height: 8em;
        object-fit: cover;
      }

      .photo-item-delete-message {
        background-color: rgba(black, 0);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../../public/images/Icon_Cancel_white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0;
        transition: .25s ease all;

        &:hover {
          background-color: rgba(black, .5);
          background-size: 5em;
        }
      }
    }

    .photo-add {
      width: 8em;
      height: 8em;
      border: 1px solid $grey-border;
      background-color: $background-first;
      border-radius: 12px;
      font-size: 1em;
      padding: 0;
      cursor: pointer;
      transition: .25s all ease;

      &:hover{
        background-color: $ajou-blue;
        color: white;
      }
    }
  }
  .reply-section {
    display: flex;
    align-items: center;
    .reply-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
