@import "../../styles/variables.scss";

.class-item-container {
  width: 23.13em;
  height: 17.25em;
  border: 1px solid $grey-border;
  border-radius: 12px;

  padding: 1.50em 0;
  margin-bottom: 1.25em;
  
  .class-item-title {
    display: flex;
    justify-content: space-between;
    text-align: start;

    padding: 0 1.50em;
    margin: 0 auto;
    
    cursor: pointer;
  }

  .Icon_RightArrow {
    width: 2.25em;
    height: 2.25em;
    background-image: url("../../../public/images/Icon_RightArrow.svg");
  }

  .semester-box {
    height: 1px;
    background-color: $grey-border;
    border-radius: 0.75em;
    margin: 1.00em 1.50em;
  }

  .class-item-preview-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 10px auto;

    .class-item-preview {
      height: 2.50em;
      color: $text-grey;
      
      display: flex;
      justify-content: space-between;
      align-items:center;
      
      padding: 0.50em 1.50em;

      cursor: pointer;
    }
  }
}