@import "../../styles/variables.scss";

.class-item-container {
  width: 370px;
  height: 276px;
  border: 1px solid $grey-border;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  .class-item-name {
    width: calc(100% - 30px);
    height: 75px;
    line-height: 75px;
    margin: 0 auto;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid $grey-border;
  }

  .class-item-preview-list {
    width: calc(100% - 30px);
    margin: 10px auto;
    display: flex;
    height: 181px;
    flex-direction: column;
    justify-content: space-around;

    .class-item-preview {
      display: flex;
      color: $text-grey;

      .preview-title {
        width: 85%;
      }
      
      .preview-created-at {
        width: 15%;
        text-align: end;
      }
    }
  }
}