@import '../../styles/variables.scss';

.profile-box-container {
  width: 100%;

  @include containerBorderStyle();

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1rem 3rem;

  .profile-img-box {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1.5rem;
    position: relative;

    .profile-img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 100%;
    }

    .camera-img-box {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2.5em;
      height: 2.5em;
      border-radius: 100%;
      background-color: $ajou-silver;
      transition: 0.3s all ease-out;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      input {
        width: 0;
        height: 0;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  
  .profile-content {
    width: 100%;
    position: relative;

    .edit-nickname-button {
      background: none;
      border: none;
      color: $ajou-blue;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
}