@import '../../styles/variables.scss';

.profile-box-container {
  width: 72em;
  border: 1px solid $grey-border;
  border-radius: 12px;
  padding: 1em;
  margin-bottom: 2em;

  .profile-img-box {
    width: 8em;
    height: 8em;
    margin: 0 auto;
    position: relative;

    .camera-img-box {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2.5em;
      height: 2.5em;
      border-radius: 2.5em;
      background-color: $ajou-silver;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .profile-content {
    width: 66em;
    margin: 0 auto;
    position: relative;

    .edit-nickname-button {
      background: none;
      border: 0;
      font-size: 1em;
      color: $ajou-blue;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
  }
}