@import '../../styles/variables.scss';

.article-item-container {
  width: 42em;
  height: 8.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-border;
  display: flex;
  column-gap: 1em;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $background-second;
  }

  .article-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .article-title {
      width: 100%;
      height: 1.5em;
      font-size: 1em;
      line-height: 1.5em;
      color: black;
      text-align: start;
    }

    .article-preview {
      width: 100%;
      font-size: .95em;
      line-height: 1.25em;
      height: 2.5em;
      color: $text-grey;
      text-align: start;
      max-lines: 2;
      overflow: hidden;
    }

    .article-data {
      width: 100%;
      height: 1.5em;
      margin-top: 1em;
      display: flex;
      position: relative;

      .article-created-at {
        height: 100%;
        line-height: 1em;
        font-size: 0.8em;
        margin-right: 1em;
        color: $text-grey;
      }

      .article-writer {
        height: 100%;
        line-height: 1em;
        font-size: .8em;
        color: $text-grey;
      }

      .article-icons {
        display: flex;
        height: 1.5em;
        position: absolute;
        right: 0;
        top: 0;

        img {
          margin-right: .5em;
        }
        
        .comments {
          height: 1.5em;
          line-height: 1.5em;
          font-size: 0.8em;
          color: $ajou-sky;
          display: flex;
          align-items: center;
        }

        .images {
          height: 1.5em;
          line-height: 1.5em;
          font-size: 0.8em;
          color: $ajou-gold;
          display: flex;
          align-items: center;
          margin-left: 1em;
        }
      }
    }
  }

  .thumbnail {
    width: 8em;
    background-color: $text-grey;
    border-radius: 12px;
  }
}