@import '../../../styles/variables.scss';

.auth-semester-content-item {
  width: 100%;
  min-height: 3em;
  display: flex;
  border-bottom: .2px solid $grey-border; 

  .auth-semester-content-column {
    min-height: 3em;
    line-height: 3em;
    text-align: start;
    color: $text-dark;
    text-indent: 1em;
  }
}