@import '../../styles/variables.scss';

.post-item-container {
  width: 42em;
  height: 7.75em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-border;
  display: flex;

  .post-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .post-title {
      width: 100%;
      font-size: 1em;
      color: $text-dark;
      text-align: start;
    }

    .post-preview {
      width: 100%;
      font-size: 1em;
      height: 2.5em;
      color: $text-dark;
      text-align: start;
      overflow: hidden;
    }

    .post-data {
      width: 100%;
      height: 1.5em;
      display: flex;
      position: relative;

      .post-created-at {
        height: 100%;
        line-height: 1.5em;
        font-size: 0.8em;
        color: $text-grey;
      }

      .post-writer {
        height: 100%;
        line-height: 1.5em;
        font-size: .8em;
        color: $text-grey;
      }

      .post-icons {
        display: flex;
        height: 1.5em;
        position: absolute;
        right: 0;
        top: 0;

        img {
          margin-right: 5px;
        }
        
        .comments {
          height: 1.5em;
          line-height: 1.5em;
          font-size: 0.8em;
          color: $ajou-sky;
          display: flex;
        }

        .images {
          height: 1.5em;
          line-height: 1.5em;
          font-size: 0.8em;
          color: $ajou-gold;
          display: flex;
          margin-left: 1em;
        }
      }
    }
  }

  .with-thumbnail {
    width: calc(100% - 9.25em);
  }

  .thumbnail {
    width: 7.75em;
    height: 7.75em;
    margin-left: 1.5em;
    background-color: $text-grey;
    border-radius: 12px;
  }
}