@import "../../styles/variables.scss";

.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 5em 0;

  .wrapper {
    width: 30%;
    margin: 0 auto;
    padding: 2em;
    height: max-content;
    border: 1px solid $grey-border;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .title {
      width: 100%;
      text-align: left;
    }

    .separator {
      border: 1px solid $grey-border;
      margin-bottom: 1em;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      margin: 0.5em 0;
      .label {
        margin: 0.5em;
        text-align: left;
      }
      .input {
        width: 100%;
        height: 3em;
        margin: 0 auto;
        border-radius: 12px;
        border: 1px solid $grey-border;
        background-color: $background-second;
        text-indent: 1em;
        font-size: 1em;
      }
    }

    .register-button {
      width: 100%;
      height: 3em;
      margin: 1em auto;
      font-size: 1em;
      background-color: $ajou-yellow;
      color: white;
      border: 0;
      border-radius: 12px;
    }

    .cancle-button {
      width: 100%;
      height: 3em;
      margin: 0 auto;
      font-size: 1em;
      background-color: $ajou-silver;
      color: white;
      border: 0;
      border-radius: 12px;
    }
  }
}
