@import "../../styles/variables.scss";

.link-content {
  color: $text-dark;
  text-decoration: none;
}

.my-content {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1.5rem;

  .Icon_RightArrow {
    min-width: 2.25em;
    height: 2.25em;
    background-image: url("../../../public/images/Icon_RightArrow.svg");
  }
}