@import '../../styles/variables.scss';

.auth-semester-box-container {
  width: 100%;

  @include containerBorderStyle();

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1.5rem 3rem;
}

.in-modal {
  height: 80vh;
  overflow: scroll;
  margin-bottom: 0;
  border: 0;
}