@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2") format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2") format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
    unicode-range: U+AC00-D7A3;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url("//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2") format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
    unicode-range: U+AC00-D7A3;
}

.h1 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 700;
  font-size: 3.75em;
  line-height: 4.50em;
}

.h2 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 700;
  font-size: 3.00em;
  line-height: 3.50em;
}

.h3 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 700;
  font-size: 2.25em;
  line-height: 2.75em;
}

.h4 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 500;
  font-size: 2.00em;
  line-height: 2.50em;
}

.h5 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.25em;
}

.h6 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.63em;
}

.p1 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.88em;
}

.p2 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 400;
  font-size: 1.13em;
  line-height: 1.75em;
}

.p3 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 400;
  font-size: 1.00em;
  line-height: 1.50em;
}

.p4 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 400;
  font-size: 0.88em;
  line-height: 1.31em;
}

.label1 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 400;
  font-size: 0.88em;
  line-height: 0.88em;
}

.label2 {
  font-family: 'Noto Sans KR', 'Roboto';
  font-weight: 400;
  font-size: 0.75em;
  line-height: 0.75em;
}