@import "./variables.scss";

.semester-box {
    height: 1px;
    background-color: $grey-border;
    border-radius: 0.75em;
    margin: 1.00em 1.50em;
}

.input {
    width: 100%;
    height: 3.5rem;

    padding: 1rem 1.5rem;
    margin-bottom: 2.5rem;

    @include containerBorderStyle();

    background-color: $background-first;
}