//Main-Color
$ajou-blue: #0465b0;
$ajou-gold: #bb883c;

//Sub-Color
$ajou-sky: #88b1dd;
$ajou-yellow: #f69642;
$ajou-silver: #959b9d;

//Gray-Scale
$grey-border: #d1d6db;
$background-first: #f6f6f8;
$background-second: #f9fafb;
$text-grey: #666666;
$text-dark: #303030;

$column-size: 71.88em;

$mobile: 768px;
$tablet: 1024px;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin containerBorderStyle() {
    border: 1px solid $grey-border;
    border-radius: 12px;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}