@import "../../styles/variables.scss";

.reply-input-container {
  width: 100%;
  @include containerBorderStyle();

  display: flex;
  align-items: center;

  padding: 0.63rem 1em;

  .reply-input {
    width: 100%;
    border: none;
  }

  .checkbox {
    white-space: nowrap;
    color: $ajou-silver;

    display: flex;
    margin-right: 1rem;
    
    cursor: pointer;

    input {
      margin-right: 0.3rem;
    }
  }

  .reply-submit {
    display: flex;
    cursor: pointer;

    img {
      &.small {
        width: 1.5rem;
        height: 1.5rem;
      }

      &.large {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}
