@import '../../styles/variables.scss';

.board-button {
  width: 9em;
  height: 3em;
  font-size: 1em;
  border: 1px solid $grey-border;
  background-color: white;
  color: $text-dark;
}

.selected {
  border: 0;
  background-color: $ajou-yellow;
  color: white;
}