@import '../../styles/variables.scss';

.lecture-container {
  width: 60em;
  display: flex;
  margin: 0 auto;
  margin-top: 4em;

  .info-box {
    width: 15em;
    
    .info-item {
      width: 100%;
    }

    .info-title {
      color: $text-grey;
      margin-bottom: 0.5em;
    }
    
    .info-content {
      color: $text-dark;
    }
    
    .semester-box {
      border: 1px solid $grey-border;
      border-radius: 12px;
      padding: 1em;
    }

    .detail-info {
      margin-top: 1em;
      padding: 1em;
      border: 1px solid $grey-border;
      border-radius: 12px;

      .lecture-name {
        font-size: 1.5em;
        color: $ajou-blue;
        font-weight: bold;
      }

      .info-item {
        margin-top: 1em;
      }
    }
  }

  .board {
    margin-left: 1em;
    width: 44em;

    .board-menu {
      width: 44em;
      display: flex;
      justify-content: space-between;
      column-gap: 1em;
      margin-bottom: 1em;
      font-size: 1em;

      form {
        width: 100%;
      }

      input {
        width: 100%;
        background-image: url("../../../public/images/Icon_Search.svg");
        background-repeat: no-repeat;
        background-position: 1em center;
        background-size: 2em;
        border-radius: 12px;
        border: 1px solid $grey-border;
        padding: 1em;
        padding-left: 4em;
        font-size: 1em;
      }

      .write-button {
        border-radius: 12px;
        cursor: pointer;
        width: 7.5em;
        background-color: $ajou-blue;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 2.5em;
          height: 2.5em;
        }
      }
    }

    .article-list {
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em;
      border: 1px solid $grey-border;
      border-radius: 12px;
    }
  }
}