@import '../../styles/variables.scss';

.lecture-container {
  width: 60em;
  display: flex;
  margin: 0 auto;
  margin-top: 4em;

  .info-box {
    width: 15em;
    
    .info-item {
      width: 100%;
    }

    .info-title {
      color: $text-grey;
      font-size: 1em;
      margin-bottom: 0.5em;
    }
    
    .info-content {
      font-size: 1.2em;
      color: $text-dark;
    }
    
    .semester-box {
      border: 1px solid $grey-border;
      border-radius: .75em;
      padding: 1.5em;
    }

    .detail-info {
      margin-top: 1.2em;
      padding: 1.5em;
      border: 1px solid $grey-border;
      border-radius: 12px;

      .lecture-name {
        font-size: 1.5em;
        color: $ajou-blue;
        font-weight: bold;
      }

      .info-item {
        margin-top: 1.2em;
      }
    }
  }

  .board {
    margin-left: 1em;
    width: 44em;

    .board-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.2em;

      button {
        border-radius: 12px;
        cursor: pointer;
      }

      .board-button {
        width: 9em;
        height: 3em;
        font-size: 1em;
        border: 1px solid $grey-border;
        background-color: white;
        color: $text-dark;
      }

      .write-button {
        width: 5em;
        height: 3.6em;
        background-color: $ajou-blue;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 2.5em;
          height: 2.5em;
        }
      }

      .selected {
        border: 0;
        background-color: $ajou-yellow;
        color: white;
      }
    }

    .post-list {
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em;
      border: 1px solid $grey-border;
      border-radius: 12px;
    }
  }
}